trunk/src/cloudobserver/CloudObserverCampusCamerasStreaming/Service References/CloudObserverBroadcastServiceReference/CloudObserverBroadcastService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BindMeToCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
        <xs:element minOccurs="0" name="cameraID" type="xs:int" />
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindMeToCameraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMeAsCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cameraID" type="xs:int" />
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMeAsCameraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cameraID" type="xs:int" />
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextFrameResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frame" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextFrameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>