trunk/src/clients/AirTester2/.wsdl/general/CloudObserverService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CloudObserverService" targetNamespace="http://tempuri.org/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" schemaLocation="http://localhost:2101/CloudObserverWebsite/CloudObserverService.svc?xsd=xsd0"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="http://localhost:2101/CloudObserverWebsite/CloudObserverService.svc?xsd=xsd1"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="http://localhost:2101/CloudObserverWebsite/CloudObserverService.svc?xsd=xsd2"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICloudObserverService_UserIsEmailAvailable_InputMessage">
    <wsdl:part element="tns:UserIsEmailAvailable" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetPath_OutputMessage">
    <wsdl:part element="tns:CameraGetPathResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraAdd_InputMessage">
    <wsdl:part element="tns:CameraAdd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetID_OutputMessage">
    <wsdl:part element="tns:UserGetIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetEmail_OutputMessage">
    <wsdl:part element="tns:UserGetEmailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserAdd_OutputMessage">
    <wsdl:part element="tns:UserAddResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetIcon_OutputMessage">
    <wsdl:part element="tns:UserSetIconResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupAdd_OutputMessage">
    <wsdl:part element="tns:GroupAddResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberRemove_OutputMessage">
    <wsdl:part element="tns:GroupMemberRemoveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetGroups_OutputMessage">
    <wsdl:part element="tns:UserGetGroupsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetPrivacy_InputMessage">
    <wsdl:part element="tns:GroupGetPrivacy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraAdd_OutputMessage">
    <wsdl:part element="tns:CameraAddResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserAdd_InputMessage">
    <wsdl:part element="tns:UserAdd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetDescription_InputMessage">
    <wsdl:part element="tns:GroupGetDescription" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetName_InputMessage">
    <wsdl:part element="tns:GroupGetName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameGetMarker_OutputMessage">
    <wsdl:part element="tns:FrameGetMarkerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetPassword_InputMessage">
    <wsdl:part element="tns:UserSetPassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetName_OutputMessage">
    <wsdl:part element="tns:UserSetNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetIcon_InputMessage">
    <wsdl:part element="tns:UserGetIcon" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserIsEmailAvailable_OutputMessage">
    <wsdl:part element="tns:UserIsEmailAvailableResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetRegistrationDate_OutputMessage">
    <wsdl:part element="tns:UserGetRegistrationDateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetEmail_InputMessage">
    <wsdl:part element="tns:UserGetEmail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupCameraRemove_OutputMessage">
    <wsdl:part element="tns:GroupCameraRemoveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetName_OutputMessage">
    <wsdl:part element="tns:CameraSetNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupCameraAdd_InputMessage">
    <wsdl:part element="tns:GroupCameraAdd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetPrivacy_InputMessage">
    <wsdl:part element="tns:GroupSetPrivacy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetID_OutputMessage">
    <wsdl:part element="tns:GroupGetIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetPrivacy_OutputMessage">
    <wsdl:part element="tns:GroupGetPrivacyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetID_InputMessage">
    <wsdl:part element="tns:CameraGetID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetRegistrationDate_InputMessage">
    <wsdl:part element="tns:CameraGetRegistrationDate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameRemove_OutputMessage">
    <wsdl:part element="tns:FrameRemoveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraRemove_InputMessage">
    <wsdl:part element="tns:CameraRemove" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupRemove_OutputMessage">
    <wsdl:part element="tns:GroupRemoveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberSetPrivileges_InputMessage">
    <wsdl:part element="tns:GroupMemberSetPrivileges" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetName_OutputMessage">
    <wsdl:part element="tns:GroupGetNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetDescription_OutputMessage">
    <wsdl:part element="tns:GroupGetDescriptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameAdd_OutputMessage">
    <wsdl:part element="tns:FrameAddResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetIcon_OutputMessage">
    <wsdl:part element="tns:UserGetIconResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberRemove_InputMessage">
    <wsdl:part element="tns:GroupMemberRemove" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetCameras_InputMessage">
    <wsdl:part element="tns:GroupGetCameras" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetIcon_InputMessage">
    <wsdl:part element="tns:CameraSetIcon" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetID_OutputMessage">
    <wsdl:part element="tns:CameraGetIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserRemove_InputMessage">
    <wsdl:part element="tns:UserRemove" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetCameras_OutputMessage">
    <wsdl:part element="tns:GroupGetCamerasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetName_OutputMessage">
    <wsdl:part element="tns:GroupSetNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetName_InputMessage">
    <wsdl:part element="tns:UserSetName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetMembers_InputMessage">
    <wsdl:part element="tns:GroupGetMembers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberGetPrivileges_InputMessage">
    <wsdl:part element="tns:GroupMemberGetPrivileges" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameRemove_InputMessage">
    <wsdl:part element="tns:FrameRemove" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetRegistrationDate_InputMessage">
    <wsdl:part element="tns:UserGetRegistrationDate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameAdd_InputMessage">
    <wsdl:part element="tns:FrameAdd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetRegistrationDate_InputMessage">
    <wsdl:part element="tns:GroupGetRegistrationDate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameGetContent_OutputMessage">
    <wsdl:part element="tns:FrameGetContentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserLogin_OutputMessage">
    <wsdl:part element="tns:UserLoginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetIcon_OutputMessage">
    <wsdl:part element="tns:GroupSetIconResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetPath_InputMessage">
    <wsdl:part element="tns:CameraGetPath" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetDescription_InputMessage">
    <wsdl:part element="tns:CameraSetDescription" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetID_InputMessage">
    <wsdl:part element="tns:UserGetID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupRemove_InputMessage">
    <wsdl:part element="tns:GroupRemove" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetIcon_InputMessage">
    <wsdl:part element="tns:GroupGetIcon" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetRegistrationDate_OutputMessage">
    <wsdl:part element="tns:CameraGetRegistrationDateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetMembers_OutputMessage">
    <wsdl:part element="tns:GroupGetMembersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetPassword_InputMessage">
    <wsdl:part element="tns:UserGetPassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetPassword_OutputMessage">
    <wsdl:part element="tns:UserGetPasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetIcon_InputMessage">
    <wsdl:part element="tns:CameraGetIcon" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetDescription_OutputMessage">
    <wsdl:part element="tns:GroupSetDescriptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetDescription_OutputMessage">
    <wsdl:part element="tns:UserGetDescriptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetName_InputMessage">
    <wsdl:part element="tns:CameraGetName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetName_InputMessage">
    <wsdl:part element="tns:CameraSetName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetIcon_OutputMessage">
    <wsdl:part element="tns:CameraGetIconResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraRemove_OutputMessage">
    <wsdl:part element="tns:CameraRemoveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberGetPrivileges_OutputMessage">
    <wsdl:part element="tns:GroupMemberGetPrivilegesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetName_OutputMessage">
    <wsdl:part element="tns:UserGetNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetIcon_InputMessage">
    <wsdl:part element="tns:GroupSetIcon" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupCameraAdd_OutputMessage">
    <wsdl:part element="tns:GroupCameraAddResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetIcon_OutputMessage">
    <wsdl:part element="tns:GroupGetIconResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetDescription_InputMessage">
    <wsdl:part element="tns:UserGetDescription" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetPassword_OutputMessage">
    <wsdl:part element="tns:UserSetPasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserLogin_InputMessage">
    <wsdl:part element="tns:UserLogin" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetRegistrationDate_OutputMessage">
    <wsdl:part element="tns:GroupGetRegistrationDateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetName_OutputMessage">
    <wsdl:part element="tns:CameraGetNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetDescription_OutputMessage">
    <wsdl:part element="tns:UserSetDescriptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberSetPrivileges_OutputMessage">
    <wsdl:part element="tns:GroupMemberSetPrivilegesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberAdd_InputMessage">
    <wsdl:part element="tns:GroupMemberAdd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraIsPathAvailable_OutputMessage">
    <wsdl:part element="tns:CameraIsPathAvailableResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetFrames_OutputMessage">
    <wsdl:part element="tns:CameraGetFramesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetID_InputMessage">
    <wsdl:part element="tns:GroupGetID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberAdd_OutputMessage">
    <wsdl:part element="tns:GroupMemberAddResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetIcon_InputMessage">
    <wsdl:part element="tns:UserSetIcon" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraIsPathAvailable_InputMessage">
    <wsdl:part element="tns:CameraIsPathAvailable" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupAdd_InputMessage">
    <wsdl:part element="tns:GroupAdd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetGroups_InputMessage">
    <wsdl:part element="tns:UserGetGroups" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameGetContent_InputMessage">
    <wsdl:part element="tns:FrameGetContent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetName_InputMessage">
    <wsdl:part element="tns:GroupSetName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetIcon_OutputMessage">
    <wsdl:part element="tns:CameraSetIconResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupCameraRemove_InputMessage">
    <wsdl:part element="tns:GroupCameraRemove" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetPrivacy_OutputMessage">
    <wsdl:part element="tns:GroupSetPrivacyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetDescription_InputMessage">
    <wsdl:part element="tns:GroupSetDescription" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetDescription_InputMessage">
    <wsdl:part element="tns:UserSetDescription" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetDescription_OutputMessage">
    <wsdl:part element="tns:CameraSetDescriptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameGetMarker_InputMessage">
    <wsdl:part element="tns:FrameGetMarker" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetDescription_OutputMessage">
    <wsdl:part element="tns:CameraGetDescriptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserRemove_OutputMessage">
    <wsdl:part element="tns:UserRemoveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetName_InputMessage">
    <wsdl:part element="tns:UserGetName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetDescription_InputMessage">
    <wsdl:part element="tns:CameraGetDescription" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetGroups_InputMessage">
    <wsdl:part element="tns:CameraGetGroups" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetGroups_OutputMessage">
    <wsdl:part element="tns:CameraGetGroupsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetFrames_InputMessage">
    <wsdl:part element="tns:CameraGetFrames" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ICloudObserverService">
    <wsdl:operation name="GroupGetID">
      <wsdl:input message="tns:ICloudObserverService_GroupGetID_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetID">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupGetID_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetName">
      <wsdl:input message="tns:ICloudObserverService_GroupGetName_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetName">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupGetName_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetDescription">
      <wsdl:input message="tns:ICloudObserverService_GroupGetDescription_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetDescription">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupGetDescription_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetDescriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetIcon">
      <wsdl:input message="tns:ICloudObserverService_GroupGetIcon_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetIcon">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupGetIcon_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetIconResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetPrivacy">
      <wsdl:input message="tns:ICloudObserverService_GroupGetPrivacy_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetPrivacy">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupGetPrivacy_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetPrivacyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetRegistrationDate">
      <wsdl:input message="tns:ICloudObserverService_GroupGetRegistrationDate_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetRegistrationDate">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupGetRegistrationDate_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetRegistrationDateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetMembers">
      <wsdl:input message="tns:ICloudObserverService_GroupGetMembers_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetMembers">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupGetMembers_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetMembersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetCameras">
      <wsdl:input message="tns:ICloudObserverService_GroupGetCameras_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetCameras">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupGetCameras_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetCamerasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetName">
      <wsdl:input message="tns:ICloudObserverService_GroupSetName_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetName">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupSetName_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetDescription">
      <wsdl:input message="tns:ICloudObserverService_GroupSetDescription_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetDescription">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupSetDescription_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetDescriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetIcon">
      <wsdl:input message="tns:ICloudObserverService_GroupSetIcon_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetIcon">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupSetIcon_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetIconResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetPrivacy">
      <wsdl:input message="tns:ICloudObserverService_GroupSetPrivacy_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetPrivacy">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupSetPrivacy_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetPrivacyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberAdd">
      <wsdl:input message="tns:ICloudObserverService_GroupMemberAdd_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberAdd">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupMemberAdd_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberAddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberRemove">
      <wsdl:input message="tns:ICloudObserverService_GroupMemberRemove_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberRemove">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupMemberRemove_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberRemoveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberGetPrivileges">
      <wsdl:input message="tns:ICloudObserverService_GroupMemberGetPrivileges_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberGetPrivileges">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupMemberGetPrivileges_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberGetPrivilegesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberSetPrivileges">
      <wsdl:input message="tns:ICloudObserverService_GroupMemberSetPrivileges_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberSetPrivileges">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupMemberSetPrivileges_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberSetPrivilegesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupCameraAdd">
      <wsdl:input message="tns:ICloudObserverService_GroupCameraAdd_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupCameraAdd">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupCameraAdd_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupCameraAddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupCameraRemove">
      <wsdl:input message="tns:ICloudObserverService_GroupCameraRemove_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupCameraRemove">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupCameraRemove_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupCameraRemoveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameAdd">
      <wsdl:input message="tns:ICloudObserverService_FrameAdd_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/FrameAdd">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_FrameAdd_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/FrameAddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameRemove">
      <wsdl:input message="tns:ICloudObserverService_FrameRemove_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/FrameRemove">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_FrameRemove_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/FrameRemoveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameGetContent">
      <wsdl:input message="tns:ICloudObserverService_FrameGetContent_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/FrameGetContent">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_FrameGetContent_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/FrameGetContentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameGetMarker">
      <wsdl:input message="tns:ICloudObserverService_FrameGetMarker_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/FrameGetMarker">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_FrameGetMarker_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/FrameGetMarkerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsEmailAvailable">
      <wsdl:input message="tns:ICloudObserverService_UserIsEmailAvailable_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserIsEmailAvailable">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserIsEmailAvailable_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserIsEmailAvailableResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input message="tns:ICloudObserverService_UserLogin_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserLogin">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserLogin_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserLoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAdd">
      <wsdl:input message="tns:ICloudObserverService_UserAdd_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserAdd">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserAdd_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserAddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRemove">
      <wsdl:input message="tns:ICloudObserverService_UserRemove_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserRemove">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserRemove_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserRemoveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetID">
      <wsdl:input message="tns:ICloudObserverService_UserGetID_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetID">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserGetID_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetEmail">
      <wsdl:input message="tns:ICloudObserverService_UserGetEmail_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetEmail">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserGetEmail_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetEmailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetPassword">
      <wsdl:input message="tns:ICloudObserverService_UserGetPassword_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetPassword">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserGetPassword_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetName">
      <wsdl:input message="tns:ICloudObserverService_UserGetName_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetName">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserGetName_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetDescription">
      <wsdl:input message="tns:ICloudObserverService_UserGetDescription_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetDescription">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserGetDescription_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetDescriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetIcon">
      <wsdl:input message="tns:ICloudObserverService_UserGetIcon_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetIcon">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserGetIcon_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetIconResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetRegistrationDate">
      <wsdl:input message="tns:ICloudObserverService_UserGetRegistrationDate_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetRegistrationDate">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserGetRegistrationDate_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetRegistrationDateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetGroups">
      <wsdl:input message="tns:ICloudObserverService_UserGetGroups_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetGroups">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserGetGroups_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetPassword">
      <wsdl:input message="tns:ICloudObserverService_UserSetPassword_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetPassword">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserSetPassword_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetName">
      <wsdl:input message="tns:ICloudObserverService_UserSetName_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetName">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserSetName_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetDescription">
      <wsdl:input message="tns:ICloudObserverService_UserSetDescription_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetDescription">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserSetDescription_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetDescriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetIcon">
      <wsdl:input message="tns:ICloudObserverService_UserSetIcon_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetIcon">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_UserSetIcon_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetIconResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraIsPathAvailable">
      <wsdl:input message="tns:ICloudObserverService_CameraIsPathAvailable_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraIsPathAvailable">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraIsPathAvailable_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraIsPathAvailableResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraAdd">
      <wsdl:input message="tns:ICloudObserverService_CameraAdd_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraAdd">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraAdd_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraAddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraRemove">
      <wsdl:input message="tns:ICloudObserverService_CameraRemove_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraRemove">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraRemove_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraRemoveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetID">
      <wsdl:input message="tns:ICloudObserverService_CameraGetID_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetID">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraGetID_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetPath">
      <wsdl:input message="tns:ICloudObserverService_CameraGetPath_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetPath">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraGetPath_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetPathResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetName">
      <wsdl:input message="tns:ICloudObserverService_CameraGetName_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetName">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraGetName_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetDescription">
      <wsdl:input message="tns:ICloudObserverService_CameraGetDescription_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetDescription">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraGetDescription_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetDescriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetIcon">
      <wsdl:input message="tns:ICloudObserverService_CameraGetIcon_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetIcon">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraGetIcon_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetIconResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetRegistrationDate">
      <wsdl:input message="tns:ICloudObserverService_CameraGetRegistrationDate_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetRegistrationDate">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraGetRegistrationDate_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetRegistrationDateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetGroups">
      <wsdl:input message="tns:ICloudObserverService_CameraGetGroups_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetGroups">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraGetGroups_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetFrames">
      <wsdl:input message="tns:ICloudObserverService_CameraGetFrames_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetFrames">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraGetFrames_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetFramesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetName">
      <wsdl:input message="tns:ICloudObserverService_CameraSetName_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetName">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraSetName_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetDescription">
      <wsdl:input message="tns:ICloudObserverService_CameraSetDescription_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetDescription">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraSetDescription_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetDescriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetIcon">
      <wsdl:input message="tns:ICloudObserverService_CameraSetIcon_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetIcon">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_CameraSetIcon_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetIconResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupAdd">
      <wsdl:input message="tns:ICloudObserverService_GroupAdd_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupAdd">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupAdd_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupAddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupRemove">
      <wsdl:input message="tns:ICloudObserverService_GroupRemove_InputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupRemove">
    </wsdl:input>
      <wsdl:output message="tns:ICloudObserverService_GroupRemove_OutputMessage" wsaw:Action="http://tempuri.org/ICloudObserverService/GroupRemoveResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICloudObserverService" type="tns:ICloudObserverService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GroupGetID">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetID" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetDescription" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetIcon" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetPrivacy">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetPrivacy" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetRegistrationDate">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetRegistrationDate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetMembers">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetMembers" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetCameras">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetCameras" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupSetName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupSetDescription" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupSetIcon" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetPrivacy">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupSetPrivacy" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupMemberAdd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupMemberRemove" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberGetPrivileges">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupMemberGetPrivileges" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberSetPrivileges">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupMemberSetPrivileges" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupCameraAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupCameraAdd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupCameraRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupCameraRemove" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/FrameAdd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/FrameRemove" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameGetContent">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/FrameGetContent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameGetMarker">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/FrameGetMarker" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsEmailAvailable">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserIsEmailAvailable" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserLogin" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserAdd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserRemove" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetID">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetID" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetEmail">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetEmail" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetPassword">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetPassword" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetDescription" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetIcon" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetRegistrationDate">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetRegistrationDate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetGroups">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetGroups" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetPassword">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserSetPassword" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserSetName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserSetDescription" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserSetIcon" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraIsPathAvailable">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraIsPathAvailable" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraAdd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraRemove" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetID">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetID" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetPath">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetPath" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetDescription" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetIcon" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetRegistrationDate">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetRegistrationDate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetGroups">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetGroups" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetFrames">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetFrames" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraSetName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraSetDescription" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraSetIcon" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupAdd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupRemove" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudObserverService">
    <wsdl:port binding="tns:BasicHttpBinding_ICloudObserverService" name="BasicHttpBinding_ICloudObserverService">
      <soap:address location="http://localhost:2101/CloudObserverWebsite/CloudObserverService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>