trunk/src/cloudobserver/CloudObserverUserInterface/Service References/CloudObserverBroadcastServiceReference/CloudObserverBroadcastService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CloudObserverBroadcastService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/CloudObserverBroadcastService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/CloudObserverBroadcastService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICloudObserverBroadcastService_ReadFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadFrame" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverBroadcastService_ReadFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadFrameResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverBroadcastService_WriteFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteFrame" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverBroadcastService_WriteFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteFrameResponse" />
  </wsdl:message>
  <wsdl:portType name="ICloudObserverBroadcastService">
    <wsdl:operation name="ReadFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverBroadcastService/ReadFrame" message="tns:ICloudObserverBroadcastService_ReadFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverBroadcastService/ReadFrameResponse" message="tns:ICloudObserverBroadcastService_ReadFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverBroadcastService/WriteFrame" message="tns:ICloudObserverBroadcastService_WriteFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverBroadcastService/WriteFrameResponse" message="tns:ICloudObserverBroadcastService_WriteFrame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICloudObserverBroadcastService" type="tns:ICloudObserverBroadcastService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadFrame">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverBroadcastService/ReadFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteFrame">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverBroadcastService/WriteFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudObserverBroadcastService">
    <wsdl:port name="BasicHttpBinding_ICloudObserverBroadcastService" binding="tns:BasicHttpBinding_ICloudObserverBroadcastService">
      <soap:address location="http://localhost:9000/CloudObserverBroadcastService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>