trunk/src/tests/CloudObserverBroadcastServiceLibrary/CloudObserverBroadcastTestFormApp/Service References/CloudObserverBroadcastService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bindMeToCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
        <xs:element minOccurs="0" name="cameraID" type="xs:int" />
        <xs:element minOccurs="0" name="ident" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bindMeToCameraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setMeAsCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cameraID" type="xs:int" />
        <xs:element minOccurs="0" name="ident" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMeAsCameraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cameraID" type="xs:int" />
        <xs:element minOccurs="0" name="ident" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNextFrameResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setNextFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frame" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ident" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setNextFrameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clean">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cleanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>