trunk/src/cloudobserver/CloudObserverUserInterface/Service References/CloudObserverServiceReference/CloudObserverService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CloudObserverService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2101/CloudObserverWebsite/CloudObserverService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2101/CloudObserverWebsite/CloudObserverService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2101/CloudObserverWebsite/CloudObserverService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICloudObserverService_GroupGetID_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetID" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetName" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetDescription" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetIcon" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetIconResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetPrivacy_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetPrivacy" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetPrivacy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetPrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetRegistrationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetRegistrationDate" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetRegistrationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetRegistrationDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetMembers" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetCameras_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetCameras" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupGetCameras_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetCamerasResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetName" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetDescription" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetIcon" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetIconResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetPrivacy_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetPrivacy" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupSetPrivacy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetPrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberAdd" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberRemove" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberGetPrivileges_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberGetPrivileges" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberGetPrivileges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberGetPrivilegesResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberSetPrivileges_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberSetPrivileges" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupMemberSetPrivileges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberSetPrivilegesResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupCameraAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupCameraAdd" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupCameraAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupCameraAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupCameraRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupCameraRemove" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupCameraRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupCameraRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:FrameAdd" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:FrameAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:FrameRemove" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:FrameRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameGetContent_InputMessage">
    <wsdl:part name="parameters" element="tns:FrameGetContent" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameGetContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:FrameGetContentResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameGetMarker_InputMessage">
    <wsdl:part name="parameters" element="tns:FrameGetMarker" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_FrameGetMarker_OutputMessage">
    <wsdl:part name="parameters" element="tns:FrameGetMarkerResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserIsEmailAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:UserIsEmailAvailable" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserIsEmailAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserIsEmailAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:UserAdd" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:UserRemove" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetID_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetID" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetEmail" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetPassword" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetName_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetName" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetDescription" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetIcon" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetIconResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetRegistrationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetRegistrationDate" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetRegistrationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetRegistrationDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetGroups" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserGetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSetPassword" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetName_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSetName" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSetDescription" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSetIcon" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_UserSetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSetIconResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraIsPathAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraIsPathAvailable" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraIsPathAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraIsPathAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraAdd" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraRemove" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetID_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetID" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetPath_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetPath" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetPathResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetName_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetName" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetDescription" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetIcon" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetIconResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetRegistrationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetRegistrationDate" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetRegistrationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetRegistrationDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetGroups" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetFrames_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetFrames" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraGetFrames_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetFramesResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetName_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetName" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetDescription" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetIcon" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_CameraSetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetIconResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupAdd" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupRemove" />
  </wsdl:message>
  <wsdl:message name="ICloudObserverService_GroupRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupRemoveResponse" />
  </wsdl:message>
  <wsdl:portType name="ICloudObserverService">
    <wsdl:operation name="GroupGetID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetID" message="tns:ICloudObserverService_GroupGetID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetIDResponse" message="tns:ICloudObserverService_GroupGetID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetName" message="tns:ICloudObserverService_GroupGetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetNameResponse" message="tns:ICloudObserverService_GroupGetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetDescription" message="tns:ICloudObserverService_GroupGetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetDescriptionResponse" message="tns:ICloudObserverService_GroupGetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetIcon" message="tns:ICloudObserverService_GroupGetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetIconResponse" message="tns:ICloudObserverService_GroupGetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetPrivacy">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetPrivacy" message="tns:ICloudObserverService_GroupGetPrivacy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetPrivacyResponse" message="tns:ICloudObserverService_GroupGetPrivacy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetRegistrationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetRegistrationDate" message="tns:ICloudObserverService_GroupGetRegistrationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetRegistrationDateResponse" message="tns:ICloudObserverService_GroupGetRegistrationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetMembers" message="tns:ICloudObserverService_GroupGetMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetMembersResponse" message="tns:ICloudObserverService_GroupGetMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetCameras">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetCameras" message="tns:ICloudObserverService_GroupGetCameras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupGetCamerasResponse" message="tns:ICloudObserverService_GroupGetCameras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupSetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetName" message="tns:ICloudObserverService_GroupSetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetNameResponse" message="tns:ICloudObserverService_GroupSetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupSetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetDescription" message="tns:ICloudObserverService_GroupSetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetDescriptionResponse" message="tns:ICloudObserverService_GroupSetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupSetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetIcon" message="tns:ICloudObserverService_GroupSetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetIconResponse" message="tns:ICloudObserverService_GroupSetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupSetPrivacy">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetPrivacy" message="tns:ICloudObserverService_GroupSetPrivacy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupSetPrivacyResponse" message="tns:ICloudObserverService_GroupSetPrivacy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupMemberAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberAdd" message="tns:ICloudObserverService_GroupMemberAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberAddResponse" message="tns:ICloudObserverService_GroupMemberAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupMemberRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberRemove" message="tns:ICloudObserverService_GroupMemberRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberRemoveResponse" message="tns:ICloudObserverService_GroupMemberRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupMemberGetPrivileges">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberGetPrivileges" message="tns:ICloudObserverService_GroupMemberGetPrivileges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberGetPrivilegesResponse" message="tns:ICloudObserverService_GroupMemberGetPrivileges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupMemberSetPrivileges">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberSetPrivileges" message="tns:ICloudObserverService_GroupMemberSetPrivileges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupMemberSetPrivilegesResponse" message="tns:ICloudObserverService_GroupMemberSetPrivileges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupCameraAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupCameraAdd" message="tns:ICloudObserverService_GroupCameraAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupCameraAddResponse" message="tns:ICloudObserverService_GroupCameraAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupCameraRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupCameraRemove" message="tns:ICloudObserverService_GroupCameraRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupCameraRemoveResponse" message="tns:ICloudObserverService_GroupCameraRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FrameAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/FrameAdd" message="tns:ICloudObserverService_FrameAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/FrameAddResponse" message="tns:ICloudObserverService_FrameAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FrameRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/FrameRemove" message="tns:ICloudObserverService_FrameRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/FrameRemoveResponse" message="tns:ICloudObserverService_FrameRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FrameGetContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/FrameGetContent" message="tns:ICloudObserverService_FrameGetContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/FrameGetContentResponse" message="tns:ICloudObserverService_FrameGetContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FrameGetMarker">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/FrameGetMarker" message="tns:ICloudObserverService_FrameGetMarker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/FrameGetMarkerResponse" message="tns:ICloudObserverService_FrameGetMarker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserIsEmailAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserIsEmailAvailable" message="tns:ICloudObserverService_UserIsEmailAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserIsEmailAvailableResponse" message="tns:ICloudObserverService_UserIsEmailAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserLogin" message="tns:ICloudObserverService_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserLoginResponse" message="tns:ICloudObserverService_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserAdd" message="tns:ICloudObserverService_UserAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserAddResponse" message="tns:ICloudObserverService_UserAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserRemove" message="tns:ICloudObserverService_UserRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserRemoveResponse" message="tns:ICloudObserverService_UserRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetID" message="tns:ICloudObserverService_UserGetID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetIDResponse" message="tns:ICloudObserverService_UserGetID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetEmail" message="tns:ICloudObserverService_UserGetEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetEmailResponse" message="tns:ICloudObserverService_UserGetEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetPassword" message="tns:ICloudObserverService_UserGetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetPasswordResponse" message="tns:ICloudObserverService_UserGetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetName" message="tns:ICloudObserverService_UserGetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetNameResponse" message="tns:ICloudObserverService_UserGetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetDescription" message="tns:ICloudObserverService_UserGetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetDescriptionResponse" message="tns:ICloudObserverService_UserGetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetIcon" message="tns:ICloudObserverService_UserGetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetIconResponse" message="tns:ICloudObserverService_UserGetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetRegistrationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetRegistrationDate" message="tns:ICloudObserverService_UserGetRegistrationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetRegistrationDateResponse" message="tns:ICloudObserverService_UserGetRegistrationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetGroups" message="tns:ICloudObserverService_UserGetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserGetGroupsResponse" message="tns:ICloudObserverService_UserGetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetPassword" message="tns:ICloudObserverService_UserSetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetPasswordResponse" message="tns:ICloudObserverService_UserSetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetName" message="tns:ICloudObserverService_UserSetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetNameResponse" message="tns:ICloudObserverService_UserSetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetDescription" message="tns:ICloudObserverService_UserSetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetDescriptionResponse" message="tns:ICloudObserverService_UserSetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetIcon" message="tns:ICloudObserverService_UserSetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/UserSetIconResponse" message="tns:ICloudObserverService_UserSetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraIsPathAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraIsPathAvailable" message="tns:ICloudObserverService_CameraIsPathAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraIsPathAvailableResponse" message="tns:ICloudObserverService_CameraIsPathAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraAdd" message="tns:ICloudObserverService_CameraAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraAddResponse" message="tns:ICloudObserverService_CameraAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraRemove" message="tns:ICloudObserverService_CameraRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraRemoveResponse" message="tns:ICloudObserverService_CameraRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetID" message="tns:ICloudObserverService_CameraGetID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetIDResponse" message="tns:ICloudObserverService_CameraGetID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetPath">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetPath" message="tns:ICloudObserverService_CameraGetPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetPathResponse" message="tns:ICloudObserverService_CameraGetPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetName" message="tns:ICloudObserverService_CameraGetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetNameResponse" message="tns:ICloudObserverService_CameraGetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetDescription" message="tns:ICloudObserverService_CameraGetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetDescriptionResponse" message="tns:ICloudObserverService_CameraGetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetIcon" message="tns:ICloudObserverService_CameraGetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetIconResponse" message="tns:ICloudObserverService_CameraGetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetRegistrationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetRegistrationDate" message="tns:ICloudObserverService_CameraGetRegistrationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetRegistrationDateResponse" message="tns:ICloudObserverService_CameraGetRegistrationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetGroups" message="tns:ICloudObserverService_CameraGetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetGroupsResponse" message="tns:ICloudObserverService_CameraGetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetFrames">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetFrames" message="tns:ICloudObserverService_CameraGetFrames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraGetFramesResponse" message="tns:ICloudObserverService_CameraGetFrames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraSetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetName" message="tns:ICloudObserverService_CameraSetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetNameResponse" message="tns:ICloudObserverService_CameraSetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraSetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetDescription" message="tns:ICloudObserverService_CameraSetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetDescriptionResponse" message="tns:ICloudObserverService_CameraSetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraSetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetIcon" message="tns:ICloudObserverService_CameraSetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/CameraSetIconResponse" message="tns:ICloudObserverService_CameraSetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupAdd" message="tns:ICloudObserverService_GroupAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupAddResponse" message="tns:ICloudObserverService_GroupAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudObserverService/GroupRemove" message="tns:ICloudObserverService_GroupRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudObserverService/GroupRemoveResponse" message="tns:ICloudObserverService_GroupRemove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICloudObserverService" type="tns:ICloudObserverService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GroupGetID">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetPrivacy">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetPrivacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetRegistrationDate">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetRegistrationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetMembers">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetCameras">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupGetCameras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupSetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupSetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupSetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetPrivacy">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupSetPrivacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupMemberAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupMemberRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberGetPrivileges">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupMemberGetPrivileges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberSetPrivileges">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupMemberSetPrivileges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupCameraAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupCameraAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupCameraRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupCameraRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/FrameAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/FrameRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameGetContent">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/FrameGetContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrameGetMarker">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/FrameGetMarker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsEmailAvailable">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserIsEmailAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetID">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetEmail">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetPassword">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetRegistrationDate">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetRegistrationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetGroups">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserGetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetPassword">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserSetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserSetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserSetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/UserSetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraIsPathAvailable">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraIsPathAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetID">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetPath">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetRegistrationDate">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetRegistrationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetGroups">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetFrames">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraGetFrames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetName">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraSetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetDescription">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraSetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetIcon">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/CameraSetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupAdd">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupRemove">
      <soap:operation soapAction="http://tempuri.org/ICloudObserverService/GroupRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudObserverService">
    <wsdl:port name="BasicHttpBinding_ICloudObserverService" binding="tns:BasicHttpBinding_ICloudObserverService">
      <soap:address location="http://localhost:2101/CloudObserverWebsite/CloudObserverService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>