src/CloudObserver.UserInterface/Service References/AccountsServiceReference/AccountsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="AccountsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/AccountsService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/AccountsService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/AccountsService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AccountsServiceContract_GetControllerServiceUri_InputMessage">
    <wsdl:part name="parameters" element="tns:GetControllerServiceUri" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GetControllerServiceUri_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetControllerServiceUriResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_SetControllerServiceUri_InputMessage">
    <wsdl:part name="parameters" element="tns:SetControllerServiceUri" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_SetControllerServiceUri_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetControllerServiceUriResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetPrivacy_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetPrivacy" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetPrivacy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetPrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetRegistrationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetRegistrationDate" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetRegistrationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetRegistrationDateResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetMembers" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetCameras_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetCameras" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetCameras_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetCamerasResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupSetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetName" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupSetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetNameResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupSetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetDescription" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupSetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupSetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetIcon" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupSetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetIconResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupSetPrivacy_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetPrivacy" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupSetPrivacy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupSetPrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupMemberAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberAdd" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupMemberAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberAddResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupMemberRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberRemove" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupMemberRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupMemberGetPrivileges_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberGetPrivileges" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupMemberGetPrivileges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberGetPrivilegesResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupMemberSetPrivileges_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberSetPrivileges" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupMemberSetPrivileges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupMemberSetPrivilegesResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupCameraAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupCameraAdd" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupCameraAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupCameraAddResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupCameraRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupCameraRemove" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupCameraRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupCameraRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:UserRemove" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetID_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetID" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetIDResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetEmail" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetPassword" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetName_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetName" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetNameResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetDescription" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetIcon" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetIconResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetRegistrationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetRegistrationDate" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetRegistrationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetRegistrationDateResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetGroups" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserGetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserSetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSetPassword" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserSetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserSetName_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSetName" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserSetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSetNameResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserSetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSetDescription" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserSetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserSetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSetIcon" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_UserSetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSetIconResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraCheckPathAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraCheckPathAvailability" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraCheckPathAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraCheckPathAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraRegister" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraRemove" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetID_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetID" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetIDResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetPath_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetPath" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetPathResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetName_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetName" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetNameResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetDescription" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetIcon" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetIconResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetRegistrationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetRegistrationDate" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetRegistrationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetRegistrationDateResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetGroups" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraGetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraGetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraSetName_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetName" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraSetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetNameResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraSetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetDescription" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraSetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraSetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetIcon" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_CameraSetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:CameraSetIconResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupRegister" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupRemove" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetID_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetID" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetIDResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetName" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetNameResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetDescription" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetIcon" />
  </wsdl:message>
  <wsdl:message name="AccountsServiceContract_GroupGetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupGetIconResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountsServiceContract">
    <wsdl:operation name="GetControllerServiceUri">
      <wsdl:input wsaw:Action="http://tempuri.org/AbstractServiceContract/GetControllerServiceUri" message="tns:AccountsServiceContract_GetControllerServiceUri_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AbstractServiceContract/GetControllerServiceUriResponse" message="tns:AccountsServiceContract_GetControllerServiceUri_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetControllerServiceUri">
      <wsdl:input wsaw:Action="http://tempuri.org/AbstractServiceContract/SetControllerServiceUri" message="tns:AccountsServiceContract_SetControllerServiceUri_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AbstractServiceContract/SetControllerServiceUriResponse" message="tns:AccountsServiceContract_SetControllerServiceUri_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetPrivacy">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetPrivacy" message="tns:AccountsServiceContract_GroupGetPrivacy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetPrivacyResponse" message="tns:AccountsServiceContract_GroupGetPrivacy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetRegistrationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetRegistrationDate" message="tns:AccountsServiceContract_GroupGetRegistrationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetRegistrationDateResponse" message="tns:AccountsServiceContract_GroupGetRegistrationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetMembers" message="tns:AccountsServiceContract_GroupGetMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetMembersResponse" message="tns:AccountsServiceContract_GroupGetMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetCameras">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetCameras" message="tns:AccountsServiceContract_GroupGetCameras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetCamerasResponse" message="tns:AccountsServiceContract_GroupGetCameras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupSetName">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupSetName" message="tns:AccountsServiceContract_GroupSetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupSetNameResponse" message="tns:AccountsServiceContract_GroupSetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupSetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupSetDescription" message="tns:AccountsServiceContract_GroupSetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupSetDescriptionResponse" message="tns:AccountsServiceContract_GroupSetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupSetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupSetIcon" message="tns:AccountsServiceContract_GroupSetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupSetIconResponse" message="tns:AccountsServiceContract_GroupSetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupSetPrivacy">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupSetPrivacy" message="tns:AccountsServiceContract_GroupSetPrivacy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupSetPrivacyResponse" message="tns:AccountsServiceContract_GroupSetPrivacy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupMemberAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupMemberAdd" message="tns:AccountsServiceContract_GroupMemberAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupMemberAddResponse" message="tns:AccountsServiceContract_GroupMemberAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupMemberRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupMemberRemove" message="tns:AccountsServiceContract_GroupMemberRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupMemberRemoveResponse" message="tns:AccountsServiceContract_GroupMemberRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupMemberGetPrivileges">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupMemberGetPrivileges" message="tns:AccountsServiceContract_GroupMemberGetPrivileges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupMemberGetPrivilegesResponse" message="tns:AccountsServiceContract_GroupMemberGetPrivileges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupMemberSetPrivileges">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupMemberSetPrivileges" message="tns:AccountsServiceContract_GroupMemberSetPrivileges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupMemberSetPrivilegesResponse" message="tns:AccountsServiceContract_GroupMemberSetPrivileges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupCameraAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupCameraAdd" message="tns:AccountsServiceContract_GroupCameraAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupCameraAddResponse" message="tns:AccountsServiceContract_GroupCameraAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupCameraRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupCameraRemove" message="tns:AccountsServiceContract_GroupCameraRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupCameraRemoveResponse" message="tns:AccountsServiceContract_GroupCameraRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserRemove" message="tns:AccountsServiceContract_UserRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserRemoveResponse" message="tns:AccountsServiceContract_UserRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetID">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetID" message="tns:AccountsServiceContract_UserGetID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetIDResponse" message="tns:AccountsServiceContract_UserGetID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetEmail" message="tns:AccountsServiceContract_UserGetEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetEmailResponse" message="tns:AccountsServiceContract_UserGetEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetPassword" message="tns:AccountsServiceContract_UserGetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetPasswordResponse" message="tns:AccountsServiceContract_UserGetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetName">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetName" message="tns:AccountsServiceContract_UserGetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetNameResponse" message="tns:AccountsServiceContract_UserGetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetDescription" message="tns:AccountsServiceContract_UserGetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetDescriptionResponse" message="tns:AccountsServiceContract_UserGetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetIcon" message="tns:AccountsServiceContract_UserGetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetIconResponse" message="tns:AccountsServiceContract_UserGetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetRegistrationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetRegistrationDate" message="tns:AccountsServiceContract_UserGetRegistrationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetRegistrationDateResponse" message="tns:AccountsServiceContract_UserGetRegistrationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserGetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetGroups" message="tns:AccountsServiceContract_UserGetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserGetGroupsResponse" message="tns:AccountsServiceContract_UserGetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserSetPassword" message="tns:AccountsServiceContract_UserSetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserSetPasswordResponse" message="tns:AccountsServiceContract_UserSetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSetName">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserSetName" message="tns:AccountsServiceContract_UserSetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserSetNameResponse" message="tns:AccountsServiceContract_UserSetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserSetDescription" message="tns:AccountsServiceContract_UserSetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserSetDescriptionResponse" message="tns:AccountsServiceContract_UserSetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/UserSetIcon" message="tns:AccountsServiceContract_UserSetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/UserSetIconResponse" message="tns:AccountsServiceContract_UserSetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraCheckPathAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraCheckPathAvailability" message="tns:AccountsServiceContract_CameraCheckPathAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraCheckPathAvailabilityResponse" message="tns:AccountsServiceContract_CameraCheckPathAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraRegister" message="tns:AccountsServiceContract_CameraRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraRegisterResponse" message="tns:AccountsServiceContract_CameraRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraRemove" message="tns:AccountsServiceContract_CameraRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraRemoveResponse" message="tns:AccountsServiceContract_CameraRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetID">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetID" message="tns:AccountsServiceContract_CameraGetID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetIDResponse" message="tns:AccountsServiceContract_CameraGetID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetPath">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetPath" message="tns:AccountsServiceContract_CameraGetPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetPathResponse" message="tns:AccountsServiceContract_CameraGetPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetName">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetName" message="tns:AccountsServiceContract_CameraGetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetNameResponse" message="tns:AccountsServiceContract_CameraGetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetDescription" message="tns:AccountsServiceContract_CameraGetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetDescriptionResponse" message="tns:AccountsServiceContract_CameraGetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetIcon" message="tns:AccountsServiceContract_CameraGetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetIconResponse" message="tns:AccountsServiceContract_CameraGetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetRegistrationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetRegistrationDate" message="tns:AccountsServiceContract_CameraGetRegistrationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetRegistrationDateResponse" message="tns:AccountsServiceContract_CameraGetRegistrationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraGetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetGroups" message="tns:AccountsServiceContract_CameraGetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraGetGroupsResponse" message="tns:AccountsServiceContract_CameraGetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraSetName">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraSetName" message="tns:AccountsServiceContract_CameraSetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraSetNameResponse" message="tns:AccountsServiceContract_CameraSetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraSetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraSetDescription" message="tns:AccountsServiceContract_CameraSetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraSetDescriptionResponse" message="tns:AccountsServiceContract_CameraSetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CameraSetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraSetIcon" message="tns:AccountsServiceContract_CameraSetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/CameraSetIconResponse" message="tns:AccountsServiceContract_CameraSetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupRegister" message="tns:AccountsServiceContract_GroupRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupRegisterResponse" message="tns:AccountsServiceContract_GroupRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupRemove" message="tns:AccountsServiceContract_GroupRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupRemoveResponse" message="tns:AccountsServiceContract_GroupRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetID">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetID" message="tns:AccountsServiceContract_GroupGetID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetIDResponse" message="tns:AccountsServiceContract_GroupGetID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetName">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetName" message="tns:AccountsServiceContract_GroupGetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetNameResponse" message="tns:AccountsServiceContract_GroupGetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetDescription" message="tns:AccountsServiceContract_GroupGetDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetDescriptionResponse" message="tns:AccountsServiceContract_GroupGetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetIcon" message="tns:AccountsServiceContract_GroupGetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AccountsServiceContract/GroupGetIconResponse" message="tns:AccountsServiceContract_GroupGetIcon_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_AccountsServiceContract" type="tns:AccountsServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetControllerServiceUri">
      <soap:operation soapAction="http://tempuri.org/AbstractServiceContract/GetControllerServiceUri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetControllerServiceUri">
      <soap:operation soapAction="http://tempuri.org/AbstractServiceContract/SetControllerServiceUri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetPrivacy">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupGetPrivacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetRegistrationDate">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupGetRegistrationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetMembers">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupGetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetCameras">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupGetCameras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetName">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupSetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetDescription">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupSetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetIcon">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupSetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupSetPrivacy">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupSetPrivacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberAdd">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupMemberAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberRemove">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupMemberRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberGetPrivileges">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupMemberGetPrivileges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupMemberSetPrivileges">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupMemberSetPrivileges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupCameraAdd">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupCameraAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupCameraRemove">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupCameraRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRemove">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetID">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserGetID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetEmail">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserGetEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetPassword">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserGetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetName">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserGetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetDescription">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserGetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetIcon">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserGetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetRegistrationDate">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserGetRegistrationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetGroups">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserGetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetPassword">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserSetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetName">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserSetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetDescription">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserSetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetIcon">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/UserSetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraCheckPathAvailability">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraCheckPathAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraRegister">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraRemove">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetID">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraGetID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetPath">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraGetPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetName">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraGetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetDescription">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraGetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetIcon">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraGetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetRegistrationDate">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraGetRegistrationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraGetGroups">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraGetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetName">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraSetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetDescription">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraSetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CameraSetIcon">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/CameraSetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupRegister">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupRemove">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetID">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupGetID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetName">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupGetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetDescription">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupGetDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetIcon">
      <soap:operation soapAction="http://tempuri.org/AccountsServiceContract/GroupGetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountsService">
    <wsdl:port name="BasicHttpBinding_AccountsServiceContract" binding="tns:BasicHttpBinding_AccountsServiceContract">
      <soap:address location="http://localhost:9000/AccountsService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>